*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.lof
*.lot
*.pdf
*.synctex
*.synctex(busy)
*.minted
*.lol
_minted

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
