
# Python stvari
 __pycache__/
*.pyc

# Virtualno
venv/
env/
.venv/

# env varijable ak cemo koristit
.env

# Logovi
*.log

# IDE
.idea/
.vscode/

# Baza i kriptirane datoteke
*.db
vault_storage/
*.bin

# Packaging
dist/
build/
*.spec